name: test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup Perl environment
        uses: shogo82148/actions-setup-perl@v1.17.0
        with:
          # The Perl version to download (if necessary) and use. Example: 5.30.0
          perl-version: 5.30.3
      - name: Run tests
        run: |
          export PERL5LIB="$PERL5LIB:./lib"
          prove t
